jwt-isser renamed to vc-jwt-issuer 

Every entity in the OAuth/OpenID is potentially a JWT issuer, then I found the name of this endpoint misleading.

Considering that this brand new specs defines a profile for SD JWT verifiable credentials, I'd propose to change the pathname to

.well-known/vc-jwt-issuer
 

The idea is that the JWT Issuer could be used with any JWT, not necessarily VCs only. 

@tlodderstedt what do you think?

@peppelinux is there a reason the JWT Issuer should not be used with something else than VCs?

There are well known endpoints like openid-configuration or openid-federation that publish entities metadata, including jwks

Since this specs Is related to VC based on sd-jwt,  this specs should not be in conflict to pre existing Oauth2/OpenID ecosystem

SD-JWT-VC should define only the resources needed for the solution It defines

I'm ok with the proposed change. 

I agree @tlodderstedt, 

Key attestation alone Is not enough, this endpoint deserves a proper identity with a specialized protocol metadata

Also the verifiable attestations related to the entity may be available in it

(As a record, I repeat my question I made elsewhere in the past.)

Why is it necessary to introduce a new `/.well-known` path, especially if the expected content is just like below (excerpt from "[5.2. JWT Issuer Metadata Response](https://www.ietf.org/archive/id/draft-terbu-sd-jwt-vc-02.html#name-jwt-issuer-metadata-response-3)")?

```json
{
   "issuer":"https://example.com/",
   "jwks_uri":"https://jwt-issuer.example.org/my_public_keys.jwks"
}
```

Isn't the `jku` JWS header parameter (RFC 7515 [Section 4.1.2](https://www.rfc-editor.org/rfc/rfc7515.html#section-4.1.2)) like below sufficient?

```json
{
  "alg": "ES256",
  "typ": "vc+sd-jwt",
  "jku": "https://jwt-issuer.example.org/my_public_keys.jwks"
}
```

(For the record, I repeat my answer I gave on Slack and add more context)

The jku header is not sufficient for the intended purpose. The purpose of the well-know endpoint is to establish a stable issuer identifier independent of the jwks location. This issuer identifier can be used in other structures to establish trust, e.g. it can be added to trusted lists (verifier end or trusted 3rd party). Additionally, it fits nicely with the other well-known locations, like openid-credential-issuer and oauth-authorization-server. So the issuer can distribute the role specific metadata in different location residing under the same issuer identifier. And not to forget, this well-known location also could work well with openid-federation.

Moreover, any additional VC issuer metadata we will come across can be added to this endpoint.

BTW: I think a dedicated issue would be the better place for this discussion.
Am 8. Juni 2023, 17:15 +0200 schrieb Takahiko Kawasaki ***@***.***>:
> (As a record, I repeat my question I made elsewhere in the past.)
> Why is it necessary to introduce a new /.well-known path, especially if the expected content is just like below (excerpt from "5.2. JWT Issuer Metadata Response")?
> {
>   "issuer":"https://example.com/",
>   "jwks_uri":"https://jwt-issuer.example.org/my_public_keys.jwks"
> }
> Isn't the jku JWS header parameter (RFC 7515 Section 4.1.2) like below sufficient?
> {
> "alg": "ES256",
> "typ": "vc+sd-jwt",
> "jku": "https://jwt-issuer.example.org/my_public_keys.jwks"
> }
> —
> Reply to this email directly, view it on GitHub, or unsubscribe.
> You are receiving this because you were mentioned.Message ID: ***@***.***>


I am actually in favor of `jwt-issuer`. This mechanism is meant to be general enough to be used with not just a 'verifiable credential'. and I don't think anyone would think to use `.well-known/jwt-issuer` with ID Tokens and Access Tokens, UserInfo responses , etc. that are JWTs.

I understand your point @Sakurann, below my thoughts

1. Why defining jwt-issuer for general purpose in a spec that's specialized for VC? Requirement: definition of a specs in IETF for general purpose JWT Issuer metadata (enabling client metadata, that today is only available in openid-federation...)

2. I agree that jwt-vc-issuer semantically collides with credential-issuer, and we should do collisions

3. why are can't use .well-known/openid-federation? Federation entity discovery is required for the entities that builds trust chain according to the federation specs, nothing prevent to publish all the metadata of all thw "JWT-role" in a single metadata, that could not be signed if request (content-type) in plain text

I suggest to use `.well-known/openid-federation` to consolidate a unique way to publish all the metadata types and roles of an entity.

coming back to the name change proposal. Why we use the term `issuer` since the metadata contains also general capabilities not related to the issuance?

in a more general purpose way, wouldn't it be a `.well-known/oauth-entity`?
then the question: if that entity has more functionalities and roles, being at the same time a RP and a AS, how the metadata should be organized?

We've resolved this issue in openid-federation, with the below schema, where a RP can be also a OP, AS, Client, credential-issuer and so on:
https://github.com/italia/spid-cie-oidc-docs/blob/versione-corrente/docs/common/common_examples.rst#en-11-entity-configuration-response-relying-party

I'm a little embarrassed, but to be honest, I still don't understand the reasoning. "A stable issuer identifier" is represented by the `iss` claim, not by the URL of the well-known endpoint, isn't it?

A possible reason for necessity of a well-known path I guess is _"to make sure that the host identified by the issuer identifier actually exists and is accessible, by forcing JWT verifiers to access a path under the domain."_

An example with concrete values would be _"to make sure that the host `example.com` identified by the issuer identifier `https://example.com` actually exists and is accessible, by forcing JWT verifiers to access a path (`/.well-known/{whatever}`) under the domain (`example.com`)."_

It might be beneficial to define `/.well-known/jwt-issuer` as the ultimate fallback general-purpose option for locating the public key required to verify the JWT's signature (not as the sole rule for every VC to follow), especially when it is challenging to reach a consensus on a single method within a limited timeframe among the following.

1. `jwk`
1. `x5c`
1. `kid` starting with `did:`
1. `jku`
1. `trust_chain`
1. `/.well-known/openid-configuration`
1. `/.well-known/openid-federation`
1. `/.well-known/vc-jwt-issuer`
1. `./well-known/openid-credential-issuer`
1. `/.well-known/jwt-issuer`
1. Others

However, maybe I'm still missing something, sorry.

The well-known endpoint is indeed also a stable identifier. But it depends on a certain well-known location, i.e. different well-known locations are different identifiers. 

I'm looking for a stable identifier for the issuer that works across .well-known locations and is not bound to a certain key. That's pretty simple with well-known locations as the iss value can be extended by several different .well-known locations, but the identifier is still the same, right?

So for example, the issuer could use the jwt-issuer mechanism share keys and (at the same time) be part of an OpenID Federation as shown in the following:

<iss>/.well-known/jwt-issuer
<iss>/.well-known/openid-federation

The same issuer's URL could also at the same time used in an external data structure at the verifier or at a trusted 3rd party. 

Effect: I can establish trust in a certain issuer/entity/server that works across different roles/perspectives.  

I hope that explains better. 

> I'm looking for a stable identifier for the issuer that works across .well-known locations and is not bound to a certain key

this would allow an entity to use different keys to sign ID Tokens, VCs, access tokens, etc.

my question is

how to differentiate different capabilities for different metadata protocols?

this is an example in oidc federation
https://github.com/italia/eidas-it-wallet-docs/pull/14/files#diff-f44e126e298004564899b4b86fc1f5e074b5ca6a96e9f546b7a1ed8987e61735R542

here we're saying, this is the wallet provider metadata, where multiple metadata/roles cohexists in a single .well-known

how jwt-issuer endpoint handles this?

If the `typ` JWS header indicates that the JWT is a VC (e.g. `"typ":"vc+sd-jwt"`), the following paths also can work.

- `/.well-known/openid-credential-issuer` (defined in OID4VCI)
- `/.well-known/vc-jwt-issuer` (proposed by this issue)

I'd like to understand why the generic name `jwt-issuer` is chosen. The generic name is subject to interpretation where authorization servers, relying parties and any JWT-issuing systems should provide `/.well-known/jwt-issuer` to expose their metadata (at least `jwks_uri` or `jwks`) as the last resort. What if one server behaves as both an authorization server and a credential issuer? Should the authorization server publish the same content at both `/.well-known/openid-configuration` and `/.well-known/jwt-issuer`? Should intermediate authorities and trust anchors of OIDC Federation also provide `/.well-known/jwt-issuer`? Such a conflict is what I'm (and ordinary server implementers will be) concerned about.

The latest draft of "[SD-JWT-based Verifiable Credentials with JSON payloads (SD-JWT VC)](https://datatracker.ietf.org/doc/draft-terbu-sd-jwt-vc/)" defines `jwks_uri` and `jwks` jwt-issuer metadata. If so, there is no reason to prevent adding the same metadata to OID4VCI [Credential Issuer Metadata](https://openid.net/specs/openid-4-verifiable-credential-issuance-1_0.html#name-credential-issuer-metadata) as well. Basically, I believe the metadata should be added to OID4VCI regardless of the discussion about jwt-issuer.

@TakahikoKawasaki raises an important question that we need to address, at least by giving guidance. I don't have a good answer to that at the moment.

Besides that, I don't see a need to rename to `jwt-vc-issuer`.

@TakahikoKawasaki correct me if I'm wrong. I understand you prefer `vc-jwt-issuer` over `jwt-issuer`, right? And whether the key data will be added to the `openid-credential-issuer` is a different topic (that's how I read your last statement). 
Please conform. 

We will need more discussions on that topic. Potentially at IETF 117. This means, we won't be able to resolve this issue for our individual draft 03.

> @TakahikoKawasaki raises an important question that we need to address, at least by giving guidance. I don't have a good answer to that at the moment.
> 
> Besides that, I don't see a need to rename to `jwt-vc-issuer`.

We had a small discussion on this and I created a new issue #143 so we can separate between the 2 discussions overlapping here (name of the endpoint and intended usage). 

Regarding the `/.well-known/jwt-issuer` path, I have been losing confidence in my own opinion. As an implementer who has implemented numerous OAuth/OIDC specifications and been leading development of Authlete that holds the most OpenID certifications in the world, my intuition told me _"The `/.well-known/jwt-issuer` path should be avoided due to possible conflicts with other specifications."_ However, I haven't received as much support for my opinion as I expected. For now, I will implement my OID4VCI implementation using the `/.well-known/jwt-issuer` path. Please let me withdraw my opinion.

I agree @TakahikoKawasaki position, while in the italian solution we're implementing **openid-credential-issuer** as metadata within the .well-known/openid-federation endpoint, according to OpenID Federation 1.0.

This doesn't prevent to include also a jwt-issuer metadata type but there's the decision by our side to wait and the same time time give evidence of our implementation to help the consolidation of vc-jwt-issuer specs

@peppelinux
An off-topic question out of curiosity. If an authorization server / OpenID provider and a credential issuer are hosted on the same server, the payload of the entity configuration published at `/.well-known/openid-configuration` of the server contains the following, right?

```json
"metadata": {
  "openid_provider": { "...":"..." },
  "openid-credential-issuer": { "...":"..." }
}
```

Hey @TakahikoKawasaki, I'm sure that you meant `openid-federation`

The answer Is yes, even if we have used a snake case like `openid_credential_issuer` here

https://italia.github.io/eidas-it-wallet-docs/en/pid-issuing.html

It's still an initial draft without an official release, several editorials and implementation compromises needs to be resolved but the most of the work Is there, feelfree to open issue for discussion here

https://github.com/italia/eidas-it-wallet-docs